/* Describes Less Tabs popup style
 * Author: swolewizard
 */
body 
{
	white-space: nowrap;
	font-family: 'Lato'; /* Chrome supports Google fonts */
	font-size: 100%;
	transition: opacity 0.2s;
	padding: 10px;
}

input[type=number]
{
	width: 30px;
	border: 0;
}

/* Always show spinner for number input */
#tabLimit[type=number]::-webkit-inner-spin-button,
#tabLimit[type=number]::-webkit-outer-spin-button 
{
	opacity: 1;
}

#title
{
	font-size: 130%;
}

